.accordion {
	display: flex;
	flex-direction: column;
}

.accordion_item {
	display: block;
}

.accordion_trigger {
	display: block;
}

.accordion_header {
	display: block;
}

.accordion_body {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 200ms;

	> div {
		overflow: hidden;
	}
}

.accordion_item[data-state-expanded="true"] {
	.accordion_body {
		grid-template-rows: 1fr;
	}
}
